<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afffde">  <td>19/07/17 09:58:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Entries.entriesDd()[pri:0, instance:login.Entries@591f989e]">entriesDd</td> 
  <td>main@1289479439</td>   <td></td> </tr>
<tr bgcolor="afffde">  <td>19/07/17 09:58:09</td>   <td>460</td> <td>&nbsp;</td><td title="&lt;&lt;Entries.quithere()[pri:0, instance:login.Entries@591f989e]">&lt;&lt;quithere</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1289479439</td>   <td></td> </tr>
<tr bgcolor="afffde">  <td>19/07/17 09:57:31</td>   <td>-37113</td> <td>&nbsp;</td><td title="&gt;&gt;Entries.testLogin()[pri:0, instance:login.Entries@591f989e]">&gt;&gt;testLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1289479439</td>   <td></td> </tr>
</table>
